:root {
    --green-color: #369925;
}

body {
    /* overflow: hidden; */
    /* margin: 0px; */
    /* width: calc(100vw - 20px); */
}

.center-content {
    /* width: 100%; */
}

.center-content > *{
    margin-inline: auto;
}

/* * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: .8rem !important;
  } */
.form-input {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
}

.form-input > * {
    margin-inline: auto;

}

.form-input textarea {
    max-width: 500px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.form-input .describe {
    background-color: rgb(54, 153, 37, 0.6);
    /* border: ; */
    /* opacity: 0.8; */
    color: white;
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
}

.form-input .error {
    background-color: #F6635C;
    /* border: ; */
    opacity: 0.8;
    color: white;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
}

.form-input button {
    box-shadow: 0 3px 0 0 #367f14, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    transition: box-shadow 0.2s, transform 0.2s, color 0.2s;
    margin-top: 20px;
    width: 130px;
    height: 40px;
    margin-inline: auto;
    border-width: 0px;
    color: white;
    border-radius: 5px;
    background-color: #4dc217;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.form-input button:active{
    box-shadow: 0 0px 0 0 #2d6911, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset, 0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    transition: 0s;
    color: #367f14;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    transform: translateY(3px);
}

.week-select {
    margin-top: 30px;
    margin-bottom: -45px;
    width: max-content;
    margin-inline: auto;
}

@media screen and (max-width: 1000px) {
    body {
        width: calc(100vw - 30px);
    /* margin-top: 90px; */
    }
}