:root {
  --title-color: white;
  --empty-color: #2D8ECE;
  --basic-col-color: #fff;

  --primary-7-color: #fd4d40;
  --course-7-color: #f75b1e2f;

  --primary-2-color: #369925;
  --course-2-color: #3894281a;

  --primary-5-color: #0665e0;
  --course-5-color: #639eeb2c;

  --primary-4-color: #EA1E63;
  --course-4-color: #EA1E632A;

  --primary-3-color: #1fc2d9;
  --course-3-color: #c8ece870;

  --primary-color: #ebb830;
  --course-color: #f7b76842;

  --primary-6-color: #985bc7;
  --course-6-color: #e1c2fb73;


  --primary-8-color: #009788;
  --course-8-color: #0097882A;

  --primary-9-color: #795547;
  --course-9-color: #7955472A;

  --primary-10-color: #607D8B;
  --course-10-color: #607D8B2A;
}

.custom_table * {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px !important;
  text-align: left;
}

.custom_table span {
  text-align: center;
  align-content: center;
}

.custom_table table,
.custom_table tr,
.custom_table td {
  /* border: ;  */
  /* border: 1px solid white; */
  /* border-color: var(--empty-color); */
  /* border */
  /* border-block: 1px solid #cfcfcf; */
  /* display: flex; */
  /* width: max-content; */
  /* height: max-content !important; */

}

.custom_table table {
  border-collapse: collapse;
  padding-bottom: 16px;
  margin: auto;
  border-spacing: 5px;
  /* border-radius: 5px; */
  border: 1px solid transparent;
  overflow: auto;
  overflow-x: auto;
  height: 1px;
  width: 1000px;
}

.custom_table td {
  /* width: 140px !important; */
  /* display: flex; */
  /* padding: auto; */
}

.custom_table a {
  text-decoration: none;
}

.custom_table td div {
  /* min-height: 25px; */
  display: flex;
  align-items: center;
  justify-content: center;
}



#studentInfo {
  text-align: center;
  padding: 14px;
  min-width: 1000px;
  max-width: 1000px;
  font-size: .8rem !important;
}

.thead_td {
  height: 32px !important;
  text-align: center;
  padding: 6px 0;
  background-color: rgb(45, 142, 206, 0.8);
  border: none;
  color: var(--title-color);
  font-weight: bold;
  text-transform: uppercase;
}

.col_basic {
  border: 1px solid #cfcfcf !important;
  background-color: var(--basic-col-color);
  opacity: .8;
  width: 150px !important;
  /* height: 100%; */
}

.stt {
  max-width: 80px !important;
  min-width: 100px !important;
  text-align: center;
  padding: 6px 0;
  /* border: 2px solid var(--empty-color); */
  background-color: rgb(45, 142, 206, 0.8);
  /* background-color: var(--empty-color); */
  color: var(--title-color);
  font-weight: bold;
  /* border-block: 1px solid white; */
}

.fixed-col {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  z-index: 10000;
  border: none;
}

.header-fill td {
  border: 3px solid white;
  background-color: var(--empty-color);
}

.course {
  padding: 0 6px;
  vertical-align: middle;
  opacity: 1 !important;
  position: relative;
  font-size: .8rem;
  color: white !important;
  text-transform: uppercase;
  /* font-weight: bold; */
}

.course-0 {
  background: var(--primary-color);
  /* background: linear-gradient(90deg, #e94086 0%, #e5925a 100%); */
  /* color: var(--primary-color) !important; */
}

.course-1 {
  background-color: var(--primary-2-color);
  /* color: var(--primary-2-color) !important; */
}

.course-2 {
  background-color: var(--primary-3-color);
  /* color: var(--primary-3-color) !important; */
}

.course-3 {
  background-color: var(--primary-4-color);
  /* color: var(--primary-4-color) !important; */
}

.course-4 {
  background-color: var(--primary-5-color);
  /* color: var(--primary-5-color) !important; */
}

.course-5 {
  background-color: var(--primary-6-color);
  /* color: var(--primary-6-color) !important; */
}

.course-6 {
  background-color: var(--primary-7-color);
  /* color: var(--primary-7-color) !important; */
}

.course-7 {
  background-color: var(--primary-8-color);
  /* color: var(--primary-8-color) !important; */
}

.course-8 {
  background-color: var(--primary-9-color);
  /* color: var(--primary-9-color) !important; */
}

.course-9 {
  background-color: var(--primary-10-color);
  /* color: var(--primary-10-color) !important; */
}

/* .course::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -1px;
  bottom: 0;
  width: 4px;
  z-index: 10;
  border-radius: 10px;
} */

.course-0::after {
  background-color: var(--primary-color) !important;
}

.course-1::after {
  background-color: var(--primary-2-color) !important;
}

.course-2::after {
  background-color: var(--primary-3-color) !important;
}

.course-3::after {
  background-color: var(--primary-4-color) !important;
}

.course-4::after {
  background-color: var(--primary-5-color) !important;
}

.course-5::after {
  background-color: var(--primary-6-color) !important;
}

.course-6::after {
  background-color: var(--primary-7-color) !important;
}

.course-7::after {
  background-color: var(--primary-8-color) !important;
}

.course-8::after {
  background-color: var(--primary-9-color) !important;
}

.course-9::after {
  background-color: var(--primary-10-color) !important;
}

.text-color {
  /* font-weight: bold; */
}

.text-mutted {
  /* color: #7a7a7a; */
  color: white;
  font-weight: bold;
}

.space_left {
  margin-left: 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#capture {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 3px solid #7a7a7a; */
  /* border-radius: 8px; */
  overflow: hidden;
  min-width: 1000px;
  max-width: 1000px;

  /*-webkit-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.2);*/
  /*-moz-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.2);*/
  /*box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.2);*/
}

#loading {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  align-items: center;
  justify-content: center;
  display: flex;
}

.info-text-color {
  color: var(--primary-color);
  font-weight: bold;
}

.card {
  border: 1px solid transparent;
  border-radius: 10px;
  display: block !important;
  /* height: 80%; */
  height: calc(100% - 30px);
  /* height: max-content; */
  padding: 10px;
  margin: 5px;
  /* margin-block: auto; */
}

/* .card > *{
  display: inline-block;
  margin:  0 auto;
} */

/* .card .content {
  display: block; 
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */